<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Car Sourcing Group.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
				<key>dateExpires</key>
				<string>11/07/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInAppMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalFramework.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalInAppMessages.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalLocation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalNotifications.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOSCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalUser.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nb_utils.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>qr_code_scanner.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>store_redirect.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EA71AE44318C860F8AD941AA7ADC60B09E980E14</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>VAG6U65XXU.com.motorsync.carsourcinggroup.OneSignalNotificationServiceExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>VAG6U65XXU</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>92899554-1390-4e03-a30c-3bc5a8b59311</string>
						<key>dateExpires</key>
						<string>11/07/24</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.motorsync.carsourcinggroup.OneSignalNotificationServiceExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAG6U65XXU</string>
						<key>name</key>
						<string>MOTORSYNC LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VAG6U65XXU.com.motorsync.carsourcinggroup</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>VAG6U65XXU</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3abcf72d-71e9-4793-8e2a-64b4474a9d76</string>
				<key>dateExpires</key>
				<string>11/07/24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.motorsync.carsourcinggroup</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VAG6U65XXU</string>
				<key>name</key>
				<string>MOTORSYNC LTD</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
